<div class="p-6 max-w-lg mx-auto bg-white shadow-lg rounded-lg mt-6">
  <h1 class="text-2xl font-semibold text-gray-700 mb-2"> Novo place </h1>
  <hr/>

  <form id="placeForm" [formGroup]="camposForm" (ngSubmit)="onSave()">
    <div class="mb-4">
        <label class="block text-gray-600 font-medium mb-2 mt-4">Nome</label>
        <input
            type="text"
            name="name"
            formControlName="name"
            placeholder="Nome do lugar"
            class="w-full p-3 border border-gray-300 rounded shadow-sm focus:ring-blue-400"
            required
            />
            @if(isFieldInvalid('nome')){
              <span class="text-red-500 text-sm">
                  Campo obrigatório
              </span>}
    </div>

    <div class="mb-4">
        <label class="block text-gray-600 font-medium mb-2 mt-4">Categoria</label>
        <select
          name="category"
          formControlName="category"
          class="w-full p-3 border border-gray-300 rounded shadow-sm focus:outline-none focus:ring-blue-400"
        >
          <option value="" disabled selected>Selecione a categoria</option>
          <option *ngFor="let category of categories" [value]="category.id">
            {{ category.name }}
          </option>
        </select>

    </div>

    <div class="mb-4">
        <label class="block text-gray-600 font-medium mb-2 mt-4">Descrição</label>
        <textarea
            name="description"
            placeholder="Descrição do place"
            class="w-full p-3 border border-gray-300 rounded shadow-sm focus:outline-none focus:ring-blue-400"
            rows="4"
            formControlName="description"
            id="description"
            ></textarea>
            @if(isFieldInvalid('description')){
              <span class="text-red-500 text-sm" >
                Campo obrigatório
              </span>}
    </div>
    <div class="mb-4">
        <label class="block text-gray-600 font-medium mb-2 mt-4">Localização</label>
        <input
            type="text"
            name="location"
            formControlName="location"
            placeholder="Localização do place"
            class="w-full p-3 border border-gray-300 rounded shadow-sm focus:ring-blue-400"
            required
            />
            @if(isFieldInvalid('location')){
              <span class="text-red-500 text-sm">
                  Campo obrigatório
              </span>}

    </div>

    <div>
        <label class="block text-gray-600 font-medium mb-2 mt-4">URL da Foto</label>
        <input
            type="text"
            name="urlPhoto"
            formControlName="urlPhoto"
            placeholder="ex: https://exemplo.com/foto.jpg"
            class="w-full p-3 border border-gray-300 rounded shadow-sm focus:ring-blue-400"
            required
            />
            @if(isFieldInvalid('urlPhoto')){
              <span class="text-red-500 text-sm">
                  Campo obrigatório
              </span>}
    </div>

    <div>
        <label class="block text-gray-600 font-medium mb-2 mt-4">Avaliação</label>
        <input
            type="number"
            name="rating"
            formControlName="rating"
            placeholder="Avaliação de 1 a 5"
            class="w-full p-3 border border-gray-300 rounded shadow-sm focus:ring-blue-400"
            required
            />
            @if(isFieldInvalid('rating')){
              <span class="text-red-500 text-sm">
                  Campo obrigatório
              </span>}
    </div>

  </form>

  <button
    type="submit"
    class="w-full bg-blue-600 text-white p-3 rounded font-semibold shadow hover:bg-blue-700 transition-colors mt-6"
    >
    Salvar
  </button>
</div>
